<div id="dyd">
  <div class="social">
    <p class="call-to-action">Tell your friends!</p>
    <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true"
      class="twitter-share-button twitter-share-button-rendered twitter-tweet-button"
      style="position: static; visibility: visible; width: 61px; height: 20px;" title="Twitter Tweet Button"
      src="https://platform.twitter.com/widgets/tweet_button.ed954039b4da87657c2de914fe37d022.en.html#dnt=false&amp;id=twitter-widget-0&amp;lang=en&amp;original_referer=http%3A%2F%2Finternationalwineguild.com%2Fbecoming-a-guild-member&amp;size=m&amp;text=Becoming%20a%20Guild%20Member%20%3A%3A%20The%20International%20Wine%20Guild&amp;time=1563220742382&amp;type=share&amp;url=http%3A%2F%2Finternationalwineguild.com%2Fbecoming-a-guild-member"></iframe>
    <p class="fb-like-button-count">
      <fb:like href="" xfbml="true" show_faces="false" layout="button_count" class=" fb_iframe_widget"
        fb-xfbml-state="rendered"
        fb-iframe-plugin-query="app_id=237778732920749&amp;container_width=0&amp;href=http%3A%2F%2Finternationalwineguild.com%2Fbecoming-a-guild-member&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false">
        <span style="vertical-align: bottom; width: 67px; height: 20px;"><iframe name="fe1744ca9b034" width="1000px"
            height="1000px" title="fb:like Facebook Social Plugin" frameborder="0" allowtransparency="true"
            allowfullscreen="true" scrolling="no" allow="encrypted-media"
            src="https://www.facebook.com/plugins/like.php?app_id=237778732920749&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fconnect%2Fxd_arbiter.php%3Fversion%3D44%23cb%3Df146cd69c9d0f78%26domain%3Dinternationalwineguild.com%26origin%3Dhttp%253A%252F%252Finternationalwineguild.com%252Ffe4fcb85b37a8c%26relation%3Dparent.parent&amp;container_width=0&amp;href=http%3A%2F%2Finternationalwineguild.com%2Fbecoming-a-guild-member&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;show_faces=false"
            style="border: none; visibility: visible; width: 67px; height: 20px;" class=""></iframe></span></fb:like>
    </p>
    <div class="clearfix"></div>
  </div>
</div>
<p class="clear fix" style="height:5px">&nbsp;</p>