<h2>Put an International Wine Guild Badge on Your Website!</h2>

<div id="badges">
  <div class="badge">
    <a
      title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
      href="http://www.internationalwineguild.com"
      style="float:none;height:225px;width:120px;"
      target="_new"
    >
      <img
        alt="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
        src="/images/wine-school-badge.gif"
        border="0"
        width="225"
        height="120"
      />
    </a>

    <p
      style="color:#111;display:block;font-family:arial;font-size:11px;margin:0;padding:0;position:static;"
    >
      <a
        href="http://www.internationalwineguild.com"
        style="color:#990033;display:block;font-family:arial;font-size:11px;"
        target="_new"
        title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
        >The International Wine Guild Wine School</a
      >
    </p>
    <p style="margin-top:15px">
      <strong>Copy the code below and paste into your website or blog:</strong
      ><br />
      <textarea class="badge-code" onclick="this.focus();this.select()">
&lt;a title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School" href="http://www.internationalwineguild.com" style="float:none;height:120px;width:225px;"&gt;&lt;img alt="Sommelier Courses and Wine Classes from the International Wine Guild Wine School" src="http://www.internationalwineguild.com/images/wine-school-badge.gif" border="0" width="225" height="120" /&gt;&lt;/a&gt;&lt;p style="color:#111;display:block;font-family:arial;font-size:11px;margin:0;padding:0;position:static;"&gt;&lt;a href="http://www.internationalwineguild.com/" style="color:#990033;" title="The International Wine Guild Wine School"&gt;The International Wine Guild Wine School&lt;/a&gt;&lt;/p&gt;</textarea
      >
    </p>
  </div>

  <div class="badge last">
    <a
      title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
      href="http://www.internationalwineguild.com"
      style="float:none;height:225px;width:120px;"
      target="_new"
      ><img
        alt="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
        src="/images/wine-school-badge2.gif"
        border="0"
        width="225"
        height="120"
    /></a>

    <p
      style="color:#111;display:block;font-family:arial;font-size:11px;margin:0;padding:0;position:static;"
    >
      <a
        href="http://www.internationalwineguild.com"
        style="color:#990033;display:block;font-family:arial;font-size:11px;"
        target="_new"
        title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School"
        >The International Wine Guild Wine School</a
      >
    </p>
    <p style="margin-top:15px">
      <strong>Copy the code below and paste into your website or blog:</strong
      ><br />
      <textarea class="badge-code" onclick="this.focus();this.select()">
&lt;a title="Sommelier Courses and Wine Classes from the International Wine Guild Wine School" href="http://www.internationalwineguild.com" style="float:none;height:120px;width:225px;"&gt;&lt;img alt="Sommelier Courses and Wine Classes from the International Wine Guild Wine School" src="http://www.internationalwineguild.com/images/wine-school-badge2.gif" border="0" width="225" height="120" /&gt;&lt;/a&gt;&lt;p style="color:#111;display:block;font-family:arial;font-size:11px;margin:0;padding:0;position:static;"&gt;&lt;a href="http://www.internationalwineguild.com/" style="color:#990033;" title="The International Wine Guild Wine School"&gt;The International Wine Guild Wine School&lt;/a&gt;&lt;/p&gt;</textarea
      >
    </p>
  </div>
</div>
