<!DOCTYPE html>

<html>

<head>
  <script type="text/javascript">var _sf_startpt = (new Date()).getTime()</script>
  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <meta name="description" content="{{site.description}}" />
  <meta name="keywords" content="" />
  <meta name="google-site-verification" content="f0Wvp_AaabBqZtJvyqermA0PjckBDn9d9V6imCEHeJg" />

  <!-- FB open graph -->
  <meta property="fb:admins" content="114524630325,772039397" />
  <meta property="og:site_name" content="International Wine Guild" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="http://internationalwineguild.com/" />
  <meta property="og:title" content="Wine Education | Wine Classes" />
  <meta property="og:image" content="/images/iwg-fb-icon.jpg" />
  <meta property="og:description"
    content="The Guild Wine School offers state-approved sommelier courses, sommelier training, and wine classes. Wine diplomas and wine certification available." />

  <link href="/stylesheets/blueprint/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <link href="/stylesheets/blueprint/print.css" media="print" rel="stylesheet" type="text/css" />
  <!--[if IE]><link href="/stylesheets/blueprint/ie.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <!--[if IE 7]><link href="/stylesheets/ie6.css" media="screen, projection" rel="stylesheet" type="text/css" /><![endif]-->
  <script src="/javascripts/jquery-1.6.2.min.js" type="text/javascript"></script>

  <script src="/javascripts/jquery.bgiframe.min.js" type="text/javascript"></script>

  <link href="/stylesheets/superfish.css" media="screen, projection" rel="stylesheet" type="text/css" />
  <script src="/javascripts/superfish.js" type="text/javascript"></script>

  <script src="/javascripts/supersubs.js" type="text/javascript"></script>

  <link href="/stylesheets/global.css" media="screen" rel="stylesheet" type="text/css" />

  <link href="/stylesheets/lightbox.css" media="screen" rel="stylesheet" type="text/css" />
  <script src="/javascripts/prototype.js" type="text/javascript"></script>
  <script src="/javascripts/effects.js" type="text/javascript"></script>
  <script src="/javascripts/dragdrop.js" type="text/javascript"></script>
  <script src="/javascripts/controls.js" type="text/javascript"></script>
  <script src="/javascripts/lightbox.js" type="text/javascript"></script>

</head>

<body>
  <div id="header" class="container">
    <h1 class="hide">International Wine Guild</h1>
    <div class="span-24" style="margin-top:9px" align="right">
      <p><span class="follow">Follow us!</span> <a class="follow twitter" href="http://www.twitter.com/WineGuild">on
          twitter</a> <a class="follow facebook" href="http://www.facebook.com/wineguild">on facebook</a> | <a
          href="http://ww4.aitsafe.com/cf/review.cfm?userid=6714687&return=www.internationalwineguild.com"
          class="ga-track">Your Cart</a> | <a href="https://jupitergrades.com/login/index.php">Student Login</a></p>
    </div>
    <a href="/"><img alt="International Wine Guild Logo" height="319"
        src="/images/international-wine-and-spirits-guild-logo.png?1422046937" title="" width="830" /></a>
  </div>

  <div id="global-menu-container" class="container">
    <ul class="sf-menu">
      <li><a href="/">Home</a></li>
      <li>
        <a href="/about">About the Wine School</a>
        <ul>
          <li><a href="/ten-reasons-to-attend-the-guild">Ten Reasons to Attend the Guild</a></li>
          <li><a href="/becoming-a-guild-member">Become a Guild Member</a></li>
          <li><a href="/faculty">Faculty</a></li>
          <li><a href="/frequently-asked-questions">FAQ</a></li>
        </ul>
      </li>
      <li>
        <a href="/quick-class-finder">Wine Seminars &amp; Courses</a>
        <ul>
          <li><a href="/quick-class-finder">Quick Class Finder</a></li>
          <li><a href="/schedule">Class Calendar</a></li>
          <li><a href="/intro-to-wine--open-house">Open House For Prospective Students</a></li>
          <li style="border-top:3px solid #666;"><a href="/fundamentals-for-professionals">Fundamentals For Everyone</a>
          </li>
          <li><a href="/level-1-seminars">Level 1 Programs</a></li>
          <li><a href="/advanced-fine-spirits">Level 2 Programs</a></li>
          <li style="border-bottom:3px solid #666"><a href="/guild-wine-master">Level 3 Programs</a></li>
          <li><a href="/guild-travel-programs">Guild Travel Programs</a></li>
          <li><a href="/intensive-study-programs">Intensive Study Programs</a></li>
          <li><a href="/frequently-asked-questions">FAQ</a></li>
        </ul>
      </li>
      <li>
        <a href="#">Marketplace</a>
        <ul>
          <li><a href="/guild-gift-certificates">Gift Certificates</a></li>
          <li><a href="/shop/family/sommelier_tools">Sommelier Tools</a></li>
          <li><a href="/shop/family/wine_style_charts">Wine Style Charts</a></li>
          <li><a href="/shop/family/guild_pins__patches">Guild Pins</a></li>
        </ul>
      </li>
      <li>
        <a href="/blog">IWG Community</a>
        <ul>
          <li><a href="/guild-travel-programs">Guild Wine Cruise</a></li>
          <li><a href="/dinners-and-events">Dinners, Events and Friday Night Flicks</a></li>
          <li><a href="http://www.facebook.com/wineguild" target="_new">Facebook</a></li>
          <li><a href="http://www.twitter.com/wineguild" target="_new">Twitter</a></li>
        </ul>
      </li>
      <li>
        <a href="/financial-aid">Financial Aid</a>
        <ul>
          <li><a href="/financial-aid">Financial Aid</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div class="container">
    <div id="sidebar" class="span-5">
      <div class="clear clearfix">
        <ul>
          <!-- <li><h6><a href="/downloads/2015-Catalog-Vol 7-No-1.pdf" target="_new" class="pdf-link ga-track" data-kpi="/outgoing/catalog">International Wine Guild Course Catalog</a></h6></li> -->
          <li>
            <h6><a href="/downloads/2015 Program Brief Ver2 Web.pdf" target="_new" class="pdf-link ga-track"
                data-kpi="/outgoing/briefs">Wine School Program Briefs</a></h6>
          </li>
        </ul>
      </div>

      <div class="clear clearfix">
        <h6>New Locations!</h6>
        <ul>
          <li><a href="/arizona-wine-school">IWG Wine School Arizona</a></li>
          <li><a href="/texas-wine-school">IWG Wine School Texas</a></li>
          <li><a href="/virginia-wine-school">Other States and Cities</a></li>
        </ul>
      </div>

      <div class="clear clearfix">
        <form action="http://ui.constantcontact.com/d.jsp" method="post" name="ccoptin" class="ga-track"
          data-kpi="/outgoing/constantcontact.com">
          <h6>Join Our Newsletter</h6>
          <p>Join our newsletter to keep up to date on upcoming courses and the newest trends in the industry.</p>
          <input type="hidden" value="1101134644923" name="m">
          <input type=hidden value="oi" name="p">
          <label for="customer_email">E-mail:</label><br /><input id="ea" name="ea" type="text" class="text" />
          <p class="clear clearfix"><button type="submit" class="button positive"><img alt="" height="16"
                src="/images/form_button_icons/email_go.png" title="" width="16" />Sign Up</button></p>
        </form>
      </div>

      <div class="clear clearfix">
        <h6>From the Marketplace</h6>
        <ul class="product-list">

          <li>
            <p><a href="/shop/product/22"><img alt="All Five Wine and Food Ideas" class="product" height="80"
                  src="/images/galleries/c4ca4238a0b9238/128901539030_icon.jpg?1216052256" title="" width="106" /></a>
            </p>
            <span><a href="/shop/product/22">All Five Wine and Food Ideas</a><br class="clear clearfix" />$23.50</span>
          </li>

          <li>
            <p><a href="/shop/product/41"><img alt="French Series Wine Style Chart Set" class="product" height="80"
                  src="/images/galleries/c4ca4238a0b9238/718691937621_icon.png?1299623757" title="" width="106" /></a>
            </p>
            <span><a href="/shop/product/41">French Series Wine Style Chart Set</a><br
                class="clear clearfix" />$32.00</span>
          </li>

          <li>
            <p><a href="/shop/product/26"><img alt="Guild Sommelier Standards of Service " class="product" height="80"
                  src="/images/galleries/c4ca4238a0b9238/331685750976_icon.jpg?1219432909" title="" width="106" /></a>
            </p>
            <span><a href="/shop/product/26">Guild Sommelier Standards of Service </a><br
                class="clear clearfix" />$8.00</span>
          </li>

          <li>
            <p><a href="/shop/product/25"><img alt="Sommelier Double-Boot Corkscrew" class="product" height="80"
                  src="/images/fpo/no_photo_icon.gif" title="" width="106" /></a></p>
            <span><a href="/shop/product/25">Sommelier Double-Boot Corkscrew</a><br
                class="clear clearfix" />$7.00</span>
          </li>

        </ul>
        <a href="/shop">Click to browse all Marketplace Items...</a>
      </div>

      <div class="clear clearfix">
        <h6>Search IWG</h6>
        <form method="GET" action="/search">
          <label for="search">Keywords:</label><br /><input id="search" name="q" type="text" class="text" />
          <p class="clear clearfix"><button type="submit" class="button positive"><img alt="" height="16"
                src="/images/form_button_icons/folder_magnify.png" title="" width="16" />Search</button></p>
        </form>
      </div>

      <ul id="menu_a">
        <li class="fb-like">
          <h6>International Wine Guild <em>on Facebook</em></h6>
          <fb:like href="/" xfbml="true" show_faces="true" layout="button_count">
          </fb:like>
        </li>
        <a href="http://www.twitter.com/WineGuild"><img alt="Wine Guild on Twitter" height="55"
            src="/images/twitter_logo.png" title="" width="150" /></a>
      </ul>

      <div class="tag-cloud">
        <h6>Popular Wine School Searches</h6>
        <a href="/search?q=wine+instructor">Wine instructor</a> <a href="/search?q=denver+wine+shool">denver wine
          school</a><!-- <h1><a href="/search?q=sommelier+school">sommelier school</a></h1>-->
        <h2><a href="/search?q=wine+certification">wine certification</a></h2><a href="/search?q=wine+judge">Wine
          judge</a> <a href="/search?q=wine+certification+programs">wine certification programs</a>
        <h3><a href="/search?q=wine+education+programs">wine education programs</a></h1>
          <!-- <a href="/search?q=sommelier+classes"><strong>Sommelier classes</strong></a> -->
          <h3><a href="/search?q=wine+training">Wine training</a></h3>
          <h2><a href="/search?q=wine+courses">wine courses</a></h2>
          <!--<h1><a href="/search?q=sommelier+course">Sommelier course</a></h1>--> <a
            href="/search?q=wine+classes"><em>Wine classes</em></a>
          <!--<a href="/search?q=sommelier+schools"><strong>Sommelier schools</strong></a> <a href="/search?q=sommelier+certification">sommelier certification</a> <a href="/search?q=sommelier+training">Sommelier training</a> -->
          <h1><a href="/search?q=wine+school">Wine school</a></h1>
          <h3><a href="/search?q=wine+diploma">Wine diploma</a></h3>
      </div>
    </div>
    <div class="span-19 last">
      <div id="" class="span-7">
        <div class="span-18 prepend-1 last">
          {{ content }}
          {% include more_questions.html %}
          {% include social.html %}
          {% include wine_guild_badge.html %}
        </div>
      </div>
    </div>
  </div>

  <div id="footer" class="container">
    <a href="http://www.twitter.com/WineGuild"><img alt="International Wine Guild on Twitter" height="55"
        src="/images/twitter_logo.png" title="" width="150" /></a>

    <div class="AuthorizeNetSeal">
      <script type="text/javascript"
        language="javascript">var ANS_customer_id = "bfacd8de-d750-4eb5-a325-361690eca5d8";</script>
      <script type="text/javascript" language="javascript" src="//verify.authorize.net/anetseal/seal.js"></script> <a
        href="http://www.authorize.net/" id="AuthorizeNetText" target="_blank">Merchant Services</a> </div>

    <p>&nbsp;</p>

    <p> International Wine & Spirits Guild: Wine School<br />
      <br />
      4640 Pecos Street, Unit H
      <br />
      Denver, CO 80122
      <br />
      "in the heart of Winery Row"
      <br />
      Phone : 303.296.3966
      <br />
      Fax : 303.904.3245
      <br />
      Copyright &copy; 2019 <strong>International Wine & Spirits Guild</strong>
    </p>
  </div>

  <div id="fb-root"></div>

  <script type="text/javascript" charset="utf-8">

    var _sf_async_config = { uid: 15052, domain: "internationalwineguild.com" };
    (function () {
      function loadChartbeat() {
        window._sf_endpt = (new Date()).getTime();
        var e = document.createElement('script');
        e.setAttribute('language', 'javascript');
        e.setAttribute('type', 'text/javascript');
        e.setAttribute('src',
          (("https:" == document.location.protocol) ? "https://s3.amazonaws.com/" : "http://") +
          "static.chartbeat.com/js/chartbeat.js");
        document.body.appendChild(e);
      }
      var oldonload = window.onload;
      window.onload = (typeof window.onload != 'function') ?
        loadChartbeat : function () { oldonload(); loadChartbeat(); };
    })();

  </script>

  <a href="/customer-feedback-form/" class="feedback feedback-position feedback-align"><img src="/images/feed-back.gif"
      alt="Customer Feedback" border="0" /></a>

  <script type="text/javascript">
    $(document).ready(function () {
      $("ul.sf-menu").supersubs({ minWidth: 12, maxWidth: 16, extraWidth: 1 }).superfish({ delay: 100, speed: 'fast', autoArrows: false, dropShadows: false }).find('ul').bgIframe({ opacity: false });
    });
  </script>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-1025066-44']);
    _gaq.push(['_setDomainName', 'internationalwineguild.com']);
    _gaq.push(['_setAllowHash', false]);
    _gaq.push(['_setAllowLinker', true]);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <!-- Google Analytics Social Button Tracking -->
  <script src="/javascripts/ga_social_tracking.js" type="text/javascript"></script>
  <script src="/javascripts/share-n-track.js" type="text/javascript"></script>

</body>

</html>